/* common shared styles from open sans font */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.button-color{
    color:  #FFF;
    border-radius: 5px;
    text-align: center;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
font-weight: 700;
line-height: normal;
padding: 15px 35px;
}
/* nav added and nav related style */
nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;;
}
nav a{
text-decoration: none;
color: #474747;
}
.nav-title{
    color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}
/* header related styles*/
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 50px 30px 30px 150px;
    display: flex;
}
.button-contact{
    color: #FD6E0A;
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
border: none;
border-radius: 5px;
border: 1px solid #FD6E0A;
}

