/* common shared styles from open sans font */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.button-color{
    color:  #FFF;
    border-radius: 5px;
    text-align: center;
    background: #FD6E0A;
}
/* nav added and nav related style */
nav { 
    display: flex;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;;
}
nav a{
text-decoration: none;
color: #474747;
}
.nav-title{
    color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}
